:root {
    --black:rgb(0, 0, 0);
    --marine: #12688a;
    --electric-blue: rgb(51, 219, 248);
    
  }



html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }


  h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }


  p {
    font-size: 2rem;
  }

body {
    background-color: var(--marine);
    margin: 0;
   
   
    
}






.header .container {
	display: flex;
	align-items: center;
  justify-content:space-between; 
  flex-wrap: wrap; 
  background-image: url(http://www.wallpapermania.eu/images/data/2013-08/5784_Two-beautiful-blue-flowers-HD-roses.jpg);
  height: 300px;
}


.main-nav ul {
	margin: 1em 0 .5em;
  text-align: center;
  
}

div.container {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline;
  font-size: 2.5rem;
  font-weight: 800;
  
}

.main-nav a {
	display: inline-block;
  padding: .5em 1.5em;
  color: var(--black);
  text-decoration: none;
  
}


.header h1 {
    color: var(--electric-blue);
    padding: 10px;
    background-color: var(--marine);
  
  
}




.main-items h1 {
  display: flex;
  border-right: 5px solid var(--electric-blue);
  height: 300px;
  padding-right: 20px;
  text-align: right;
  color: var(--black);
  margin-left: 110px;
  justify-content: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 150px;


}

.about-me {
  display: flex;
}



.about-me p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    color:var(--electric-blue);
    padding: 30px;
    width: 360px;
    font-weight: 500;
} 

 
.portrait{
    height: auto;
    margin-top: 35px;
    border: 5px solid var(--electric-blue);
    width: 200px;
    height: 300px;
    
} 


.my-work{
    display:flex;
    justify-content: left;
    
    
    
   
}

.my-work a{
  text-decoration: none;
}

.my-work h1{
   height: 500px;
  
}


.project-box-1{
    margin-left: 20px;
    margin-top: 35px;
    height: 485px;
    border: 5px solid var(--electric-blue);
    width: 600px;
    
}

h3 {
    width: 170px;
    padding: 20px;
    background-color: var(--electric-blue);
    color: var(--black);
    align-self: flex-start;
}

.contact {
    height: 500px;
    display:flex;
    
   
    
} 

#contact h1 {
  margin-left: 90px;
}

#contact ul{
  list-style-type: none;
  padding-top: 50px;
  color: var(--electric-blue);
  align-self: flex-start;
  font-size: 38px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

@media screen and (max-width: 992px) {
  article {
    width: 50%;
  }
}


@media screen and (max-width: 768px) {
  article {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-items h1 {
    display: none;
  }
}

@media screen and (max-width: 2567px) {
  #about-me, #my-work, #contact {
    display: flex;
    justify-content:center;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .contact li{
    justify-content: left;
    font-size: 2rem;
    width: 50%;
    margin-left: 5px;
    flex-direction: column;
  }
}

.project-box-1:hover,
.project-box-1:hover {
  box-shadow: inset 0px 0px 15px var(--electric-blue), 0 0 15px var(--electric-blue);
}

#contact li:hover, .main-nav li:hover{
  filter: drop-shadow(0 0 0.5rem var(--electric-blue));
}